@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-shadow-effect {
  text-shadow: 0px 2px 0px #000000;
}

.bar-container {
  bottom: -10px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

input, .speech-box {
  -webkit-box-shadow: 4px 4px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 0px 1px rgba(0,0,0,1);
  box-shadow: 4px 4px 0px 1px rgba(0,0,0,1);
  border: 1px solid rgba(0,0,0,1);
}

.speech-bubble {
	position: relative;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-left: -24.5px;
	margin-bottom: -60px;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 6px 0px 0px 0px rgba(0,0,0,1);
  box-shadow: 6px 0px 0px 0px rgba(0,0,0,1);
}

.clipboard-border {
  border: 20px solid #825758;
  background-color: white;
}

button, textarea, .clipboard-border {
  -webkit-box-shadow: 4px 4px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 0px 1px rgba(0,0,0,1);
  box-shadow: 4px 4px 0px 1px rgba(0,0,0,1);
}

.character-float-anim {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}